table {
    width: 100%;
}

table thead tr {
    background-color: rgb(49, 27, 128);
    color: white;
}
table thead tr th {
    text-align: center;
    align-items: center;
}
table thead tr th .Icon {
    margin: auto;
}

table tfoot {
    background-color: rgb(128, 27, 37);
    color: white;
    text-align: right;
}

table tfoot tr th,
table thead tr th {
    padding: 2px 10px;
}

td.NoData .IconAction {
    width: 100%;
    border-radius: 0;
    display: flex;
    justify-content: center;
}
