table {
    width: 100%;
}

table thead tr {
    color: white;
}
table thead tr th {
    text-align: center;
    align-items: center;
}
table thead tr th .Icon {
    margin: auto;
}

table tfoot {
    text-align: center;
}

table tfoot tr th,
table thead tr th {
    padding: 2px 10px;
}

td.NoData .IconAction {
    width: 100%;
    border-radius: 0;
    display: flex;
    justify-content: center;
}

.Analyze .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7px;
    margin-bottom: 7px;
}

.Analyze .container.up {
    border: solid 2px;
    background-color: rgb(207, 244, 186);
    color: rgb(4, 126, 6);
}

.Analyze .container.down {
    border: solid 2px;
    background-color: rgb(244, 197, 186);
    color: rgb(183, 23, 2);
}
.Analyze .container.down .Icon.Icon-thumb-down,
.Analyze .container.up .Icon.Icon-thumb-up {
    width: 2rem;
}

.Analyze .container.up table thead tr,
.Analyze .container.up table tfoot tr {
    background-color: rgb(1, 93, 3);
    color: white;
}
.Analyze .container.down table thead tr,
.Analyze .container.down table tfoot tr {
    background-color: rgb(128, 27, 37);
    color: white;
}

